.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide div {
    padding: 50px;
}
.logo {
    max-width: 200px;
}

ion-toolbar {
    --color: var(--text-color-light);
}